<a href="https://colab.research.google.com/github/tejpal123456789/Deep-Learning---Natural-Language-Processing/blob/master/Spam_classifer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import tensorflow as tf
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
data=pd.read_csv('/content/drive/My Drive/data_deep_learning/spam_classifier.csv',encoding='latin-1')
data.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [ ]:
data.shape
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [ ]:
# removing of unwanted features
X=data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
X.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
# data cleaning
lemmatizer=WordNetLemmatizer()
cleaned_data=[]
import re

for i in range(len(X.v2)):
    x=re.sub('[^a-zA-Z]',' ',X.v2[i])
    x=x.lower()
    x=x.split()
    #print(x)
    words=[lemmatizer.lemmatize(word)for word in x if word not in set(stopwords.words('english')) ]
    x=' '.join(words)
    cleaned_data.append(x)

cleaned_data[0]

'go jurong point crazy available bugis n great world la e buffet cine got amore wat'

In [ ]:
# converting into vectors
y=X.v1
y=pd.get_dummies(X['v1'])
y=y.iloc[:,1].values
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer()
x_trained=tf.fit_transform(cleaned_data)

from sklearn.model_selection import train_test_split
(x_train,x_test,y_train,y_test)=train_test_split(x_trained,y,test_size=0.2)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
Spam_detector_model=MultinomialNB().fit(x_train,y_train)
pred=Spam_detector_model.predict(x_test)
print(pred)
print(y_test)

[0 0 0 ... 0 0 0]
[0 0 0 ... 0 0 0]

In [ ]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(pred,y_test)
print(acc)


# hahahahahahahahahha I got (96% accuracy on test data)
# I am very happy
# in textual classification try to use naive_bayes

0.9650224215246637

In [ ]:
# Deployment process of the MOdel on Heroku Using Flask
# Before that I have to save this model in pickle file
import pickle
saved_model=pickle.dumps(Spam_detector_model)

model_created_by_pickle=pickle.loads(saved_model)
y_pred=model_created_by_pickle.predict(x_test)
acc=accuracy_score(pred,y_test)
print(acc)

0.9650224215246637

In [ ]:
import joblib
joblib.dump(Spam_detector_model,'pickle.pkl')


# transform pickle file means it will convert the data as trained data whatever the user 
# give it 
joblib.dump(X,'transform.pkl')

['transform.pkl']